*{
    padding: 0;
    margin: 0;
}
 
.box ul li{
    position: absolute;
    width: 3px;
    height: 3px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(aqua,transparent,transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 6s linear infinite;


}
.box ul li:nth-child(2){
    left: 75vw;
    animation-delay: 2s;
}
.box ul li:nth-child(3){
    left: 25vw;
    animation-delay: 4s;
}
.box ul li:nth-child(4){
    left: 22vw;
    animation-delay: 6s;
}
.box ul li:nth-child(5){
    left: 90vw;
    animation-delay: 4s;
}
.box ul li:nth-child(6){
    left: 12vw;
    animation-delay: 2s;
}
.box ul li:nth-child(7){
    left: 65vw;
    animation-delay: 7s;
}
.box ul li:nth-child(8){
    left: 18vw;
    animation-delay: 5s;
}
.box ul li:nth-child(9){
    left: 90vw;
    animation-delay: 1s;
}
.box ul li:nth-child(10){
    left: 80vw;
    animation-delay: 6s;
}
@keyframes animate {
    0%{
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }
    100%{
        transform: scale(10);
        opacity: 1;
        bottom: 100vh;
    }
}